/* GLOBAL RULES  */
* {
  box-sizing: border-box;
}
body {
  font-family: Nunito;
}
:root {
  --purple: #7c4fc4;
  --vegan: #4caf50;
  --veg: #89298f;
  --veg-opt: #dc5e5d;
  --gray: #777777;
}

/* Header  */

.header {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px var(--purple) solid;
}
.logo {
  width: 180px;
}

/* Search Home  */

.donuts_search {
  position: relative;
}
.search {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 25%;
  font-size: 2.1em;
  color: white;
  font-weight: 700;
}
.donuts {
  width: 100%;
  position: relative;
  object-fit: cover;
}

/* Search Map */

#mapid {
  height: 180px;
}
